# ignore linux binary
a.out
# ignore windows binary
*.exe
*.dll

# ignore nsight
.cproject
.project
*.nsight-cuprof-report
*.qdrep
*.sqlite
*.ncu-rep
*.nsys-rep


# other files
*.log

# vscode
.vscode
